@model Common.Models.AccountViewModel
@{
    ViewBag.Title = "Administartörer";
}

<div class="page-header">
    <h1>Redigera Administratörer</h1>
</div>

@using (Html.BeginForm())
{
       <div class="form-group">
            @Html.LabelFor(m => Model.Username)
            @if (ViewBag.userExists == null)
            {
                @Html.TextBoxFor(m => Model.Username, new { @class = "form-control"})
            }
            else
            {
                @Html.TextBoxFor(m => Model.Username, new { @class = "form-control", @readonly = "readonly"})
            }
        </div>
    <div class="form-group">
        @Html.LabelFor(m => Model.NewPassword)
        @Html.TextBoxFor(m => Model.NewPassword, new {@type = "password", @class = "form-control" })
    </div>
        <div class="form-group">
        @Html.LabelFor(m => Model.NewPasswordAgain)
        @Html.TextBoxFor(m => Model.NewPasswordAgain, new {@type = "password", @class = "form-control" })
        @Html.ValidationMessageFor(m => Model.NewPasswordAgain)
    </div>
    <div class="form-group">
        <div class="row">
            <div class="col-md-6">
                <input type="submit" class="btn btn-block btn-primary" value="@(ViewBag.userExists == null ? "Lägg till" : "Redigera")"/>
            </div>
            <div class="col-md-6">
                @if(ViewBag.userExists == null || ViewBag.currentUser != null)
                {
                    <a href="#" class="btn btn-block btn-danger disabled">Ta bort</a>
                }
                else
                {
                     <a href=@("/Edit/Delete/Account/" + Model.Username) class="btn btn-block btn-danger">Ta bort</a>
                }
            </div>

        </div>
        @if (ViewBag.userExists != null)
        {
            <a href=@("/Edit/Account/") class = "btn btn-block btn-success">Lägg till ny administratör</a>
        }
        @if(ViewBag.errorMessage != null)
        {
            <p class="text-danger">@ViewBag.errorMessage</p>
        } 
    </div>
    <hr />
        <table class="table table-striped">
        <thead>
            <tr>
                <th>Användarnamn</th>
            </tr>
        </thead>
        <tbody>
            @foreach(var item in ViewBag.accounts)
            {
                
                    <tr>
                        <td>@Html.ActionLink(item.Username as string,"../Edit/Account/" + item.Username as string)</td>
                    </tr>
            }   
        </tbody>
        </table>
}
