@model Common.Models.AccountViewModel
@{
    ViewBag.Title = "Administartörer";
}

<div class="page-header">
    <h1>Redigera Administratörer</h1>
</div>

@using (Html.BeginForm())
{
    @Html.HiddenFor(m => m.New)
       <div class="form-group">
            @Html.LabelFor(m => Model.Username)
           @Html.TextBoxFor(m => m.Username, Model.New ? (object)new { @class = "form-control" } : new { @class = "form-control", @readonly = "readonly" })
           @Html.ValidationMessageFor(m => m.Username, null, new { @class = "text-danger" })
        </div>
    <div class="form-group">
        @Html.LabelFor(m => Model.NewPassword)
        @Html.TextBoxFor(m => Model.NewPassword, new {@type = "password", @class = "form-control" })
        @Html.ValidationMessageFor(m => m.NewPassword, null, new { @class = "text-danger" })
    </div>
        <div class="form-group">
        @Html.LabelFor(m => Model.NewPasswordAgain)
        @Html.TextBoxFor(m => Model.NewPasswordAgain, new {@type = "password", @class = "form-control" })
        @Html.ValidationMessageFor(m => Model.NewPasswordAgain, null, new { @class = "text-danger" })
    </div>
    <div class="form-group">
        <div class="row">
            <div class="col-md-6">
                <input type="submit" class="btn btn-block btn-primary" value="@(Model.New ? "Lägg till" : "Redigera")"/>
            </div>
            <div class="col-md-6">
                @if (Model.New || ViewBag.currentUser != null)
                {
                    <a href="#" class="btn btn-block btn-danger disabled">Ta bort</a>
                }
                else
                {
                     <a href=@("/Edit/Delete/Account/" + Model.Username) class="btn btn-block btn-danger">Ta bort</a>
                }
            </div>

        </div>
        @if (!Model.New)
        {
            <a href=@("/Edit/Account/") class = "btn btn-block btn-success">Lägg till ny administratör</a>
        }
    </div>
    <hr />
        <table class="table table-striped">
        <thead>
            <tr>
                <th>Användarnamn</th>
            </tr>
        </thead>
        <tbody>
            @foreach(var item in ViewBag.accounts)
            {
                
                    <tr>
                        <td>@Html.ActionLink(item.Username as string,"../Edit/Account/" + item.Username as string)</td>
                    </tr>
            }   
        </tbody>
        </table>
}
