@model Common.Models.BookAuthor

@{
    ViewBag.Title = "Redigera bok";
}

<div class="page-header">
    <h1>Redigera Bok</h1>
</div>

@using (Html.BeginForm("Book", "Edit"))
{
    <div class="row">
        <div class="col-md-6">
            <div class="form-group">
                <label for="ISBN">ISBN</label>
                @Html.TextBoxFor(model => model.Book.ISBN, new { @class = "form-control" })
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                <label for="Title">Titel</label>
                @Html.TextBoxFor(model => model.Book.Title, new { @class = "form-control" })
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <div class="form-group">
                <label for="author">Författare</label>
                @Html.DropDownList("author", null, new { @class = "form-control" })
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                <label for="Classification">Klassifikation</label>
                @Html.DropDownListFor(model => model.Book.Classification.Id, ViewData["classifications"] as IEnumerable<SelectListItem>, new { @class = "form-control" })
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <div class="form-group">
                <label for="PublicationYear">Publikationsår</label>
                @Html.TextBoxFor(model => model.Book.PublicationYear, new { @class = "form-control" })
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                <label for="Pages">Antal sidor</label>
                @Html.TextBoxFor(model => model.Book.Pages, new { @class = "form-control" })
            </div>
        </div>
    </div>
    <div class="form-group">
        <label for="PublicationInfo">Publikationsinfo</label>
        @Html.TextBoxFor(model => model.Book.PublicationInfo, new { @class = "form-control" })
    </div>
    <div class="text-center">
        <input type="submit" class="btn btn-lg btn-primary" value="Spara" style="width: 40%" />
    </div>
    <h2>Exemplar</h2>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Streckkod</th>
                <th>Plats</th>
                <th>Bibliotek</th>
                <th class="col-md-1"></th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>12345</td>
                <td>Hce</td>
                <td>Stora</td>
                <td><a href="edit/copy/1" class="btn btn-xs btn-warning">Redigera</a></td>
            </tr>
        </tbody>
    </table>
    <input type="submit" class="btn btn-success" value="Lägg till exemplar" />
}