@model Bibblan.ViewModels.EditBookViewModel

@{
    ViewBag.Title = "Redigera bok";
}

<div class="page-header">
    <h1>Redigera Bok</h1>
</div>

@using (Html.BeginForm("Book", "Edit"))
{
    <div class="row">
        <div class="col-md-6">
            <div class="form-group">
                <label for="ISBN">ISBN</label>
                @if (Model.ISBN != null)
                {
                    @Html.TextBoxFor(model => model.ISBN, new { @class = "form-control", @readonly = "readonly" })
                }
                else
                {
                    @Html.TextBoxFor(model => model.ISBN, new { @class = "form-control" })
                }
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                <label for="Title">Titel</label>
                @Html.TextBoxFor(model => model.Title, new { @class = "form-control" })
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <div class="form-group">
                <label for="Classification">Klassifikation</label>
                @Html.DropDownListFor(model => model.ClassificationId, Model.classifications, new { @class = "form-control" })
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                <label for="Pages">Antal sidor</label>
                @Html.TextBoxFor(model => model.Pages, new { @class = "form-control" })
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <div class="form-group">
                <label for="PublicationYear">Publikationsår</label>
                @Html.TextBoxFor(model => model.PublicationYear, new { @class = "form-control" })
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                <label for="PublicationInfo">Publikationsinfo</label>
                @Html.TextBoxFor(model => model.PublicationInfo, new { @class = "form-control" })
            </div>
        </div>
    </div>
    <div class="form-group">
        <label for="Authors">Authors (ctrl/command+click to select multiple)</label>
        @Html.ListBoxFor(model => model.authorIds, Model.authors, new { @class = "form-control" })
    </div>

        
    <div class="text-center">
        <input type="submit" class="btn btn-lg btn-primary" value="Spara" style="width: 40%" />
    </div>
    
    if (Model.ISBN != null)
    {
        <h2>Exemplar</h2>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Streckkod</th>
                    <th>Plats</th>
                    <th>Bibliotek</th>
                    <th class="col-md-1"></th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    @foreach (var copy in Model.Copies)
                    {
                        <td>@copy.BarCode</td>
                        <td>@copy.Location</td>
                        <td>@copy.Library</td>
                        <td><a href="copy/@copy.BarCode" class="btn btn-xs btn-warning">Redigera</a></td>
                    }
                </tr>
            </tbody>
        </table>
        <a href="copy" class="btn btn-success">Lägg till exemplar</a>
    }
}