@model Common.Models.EditBookViewModel

@{
    ViewBag.Title = "Redigera bok";
}

<div class="page-header">
    <h1>Redigera Bok</h1>
</div>

@using (Html.BeginForm("Book", "Edit"))
{
    <div class="row">
        <div class="col-md-6">
            <div class="form-group">
                @Html.LabelFor(model => model.ISBN)
                @if (Model.Update)
                {
                    @Html.TextBoxFor(model => model.ISBN, new { @class = "form-control", @readonly = "readonly" })
                }
                else
                {
                    @Html.TextBoxFor(model => model.ISBN, new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.ISBN, null, new { @class = "text-danger"})
                }
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                @Html.LabelFor(model => model.Title)
                @Html.TextBoxFor(model => model.Title, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.Title, null, new { @class = "text-danger" })


            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <div class="form-group">
                @Html.LabelFor(model => model.ClassificationId)
                @Html.DropDownListFor(model => model.ClassificationId, Model.Classifications, new { @class = "form-control" })
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                @Html.LabelFor(model => model.Pages)
                @Html.TextBoxFor(model => model.Pages, new { @class = "form-control" })
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <div class="form-group">
                @Html.LabelFor(model => model.PublicationYear)
                @Html.TextBoxFor(model => model.PublicationYear, new { @class = "form-control" })
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                @Html.LabelFor(model => model.PublicationInfo)
                @Html.TextBoxFor(model => model.PublicationInfo, new { @class = "form-control" })
            </div>
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(model => model.AuthorIds)
        @Html.ListBoxFor(model => model.AuthorIds, Model.Authors, new { @class = "form-control" })
        @Html.ValidationMessageFor(model => model.AuthorIds, null, new { @class = "text-danger" })
    </div>
    <div class="row">
        <div class="col-md-6">
            <input type="submit" class="btn btn-lg btn-primary btn-block" value="Spara" />
        </div>
        <div class="col-md-6">
        @if (Model.Update)
        {
            @Html.ActionLink("Ta bort", "Delete", new { Type = "Book", Id = Model.ISBN }, new { @class = "btn btn-lg btn-danger btn-block" })
        }
        else
        {
            @Html.ActionLink("Ta bort", "Delete", new { Type = "Book", Id = Model.ISBN }, new { @class = "btn btn-lg btn-danger btn-block disabled" })
        }
        </div>
    </div>
    
    if (Model.Update)
    {
        <h2>Exemplar</h2>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Streckkod</th>
                    <th>Plats</th>
                    <th>Bibliotek</th>
                    <th class="col-md-1"></th>
                </tr>
            </thead>
            <tbody>
            @foreach (var copy in Model.Copies)
            {
                <tr>
                    <td>@copy.BarCode</td>
                    <td>@copy.Location</td>
                    <td>@copy.Library</td>
                    <td>@Html.ActionLink("Redigera", "Copy", new { isbn = Model.ISBN, barcode = copy.BarCode }, new { @class = "btn btn-xs btn-warning" })</td>
                </tr>
            }
            </tbody>
        </table>
        @Html.ActionLink("Lägg till exemplar", "Copy", new { isbn = Model.ISBN }, new { @class = "btn btn-success" })
    }
}