@model Bibblan.Models.EditBookViewModel

@{
    ViewBag.Title = "Redigera bok";
}

<div class="page-header">
    <h1>Redigera Bok</h1>
</div>

@using (Html.BeginForm("Book", "Edit"))
{
    <div class="row">
        <div class="col-md-6">
            <div class="form-group">
                @Html.LabelFor(model => model.ISBN)
                @{IDictionary<String, Object) attr = Model.ISBN != null ? new IDictionary<String, Object) { @class = "form-control", @readonly = "readonly" } : new { @class = "form-control" }; }
                @if (Model.ISBN != null)
                {
                    @Html.TextBoxFor(model => model.ISBN, new { @class = "form-control", @readonly = "readonly" })
                }
                else
                {
                    @Html.TextBoxFor(model => model.ISBN, new { @class = "form-control" })
                }
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                @Html.LabelFor(model => model.Title)
                @Html.TextBoxFor(model => model.Title, new { @class = "form-control" })
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <div class="form-group">
                @Html.LabelFor(model => model.ClassificationId)
                @Html.DropDownListFor(model => model.ClassificationId, Model.classifications, new { @class = "form-control" })
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                @Html.LabelFor(model => model.Pages)
                @Html.TextBoxFor(model => model.Pages, new { @class = "form-control" })
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <div class="form-group">
                @Html.LabelFor(model => model.PublicationYear)
                @Html.TextBoxFor(model => model.PublicationYear, new { @class = "form-control" })
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                @Html.LabelFor(model => model.PublicationInfo)
                @Html.TextBoxFor(model => model.PublicationInfo, new { @class = "form-control" })
            </div>
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(model => model.AuthorIds)
        @Html.ListBoxFor(model => model.AuthorIds, Model.authors, new { @class = "form-control" })
    </div>

    <input type="submit" class="btn btn-lg btn-primary btn-block" value="Spara" />
    
    if (Model.ISBN != null)
    {
        <h2>Exemplar</h2>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Streckkod</th>
                    <th>Plats</th>
                    <th>Bibliotek</th>
                    <th class="col-md-1"></th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    @foreach (var copy in Model.Copies)
                    {
                        <td>@copy.BarCode</td>
                        <td>@copy.Location</td>
                        <td>@copy.Library</td>
                        <td><a href="copy/@copy.BarCode" class="btn btn-xs btn-warning">Redigera</a></td>
                    }
                </tr>
            </tbody>
        </table>
        <a href="copy" class="btn btn-success">Lägg till exemplar</a>
    }
}