@model Common.Models.BorrowerViewModel

@{
    ViewBag.Title = "Redigera lånetagare";
}

<div class="page-header">
    @if (!Model.New)
    {
        <h1>Redigera låntagare</h1>
        <h3>@(Model.LastName), @(Model.FirstName) </h3>
    }
    else
    {
        <h1>Lägg till ny låntagare</h1>
    }
</div>

@using (Html.BeginForm("Borrower", "Edit"))
{
    @Html.HiddenFor(model => model.New)
    <div class="row">
        <div class="col-md-6">
            <div class="form-group">
                @Html.LabelFor(model => model.FirstName)
                @Html.TextBoxFor(model => model.FirstName, new { @class = "form-control" })
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                @Html.LabelFor(model => model.LastName)
                @Html.TextBoxFor(model => model.LastName, new { @class = "form-control" })
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-6">
            <div class="form-group">
                @Html.LabelFor(model => model.PersonId)
                @Html.TextBoxFor(model => model.PersonId, Model.New ? (object)new { @class = "form-control" } : new { @class = "form-control", @readonly = "readonly" })
                @Html.ValidationMessageFor(model => model.PersonId, null, new { @class = "text-danger" })
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                @Html.LabelFor(model => model.Adress)
                @Html.TextBoxFor(model => model.Adress, new { @class = "form-control" })
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-6">
            <div class="form-group">
                @Html.LabelFor(model => model.TelNo)
                @Html.TextBoxFor(model => model.TelNo, new { @class = "form-control" })
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                @Html.LabelFor(model => model.Category)
                @Html.DropDownListFor(model => model.CategoryId, Model.Category, new { @class = "form-control" })
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-6">
            <div class="form-group">
                @Html.LabelFor(model => model.Account.NewPassword)
                @Html.TextBoxFor(model => model.Account.NewPassword, new { @type = "password", @class = "form-control" })
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                @Html.LabelFor(model => model.Account.NewPasswordAgain)
                @Html.TextBoxFor(model => model.Account.NewPasswordAgain, new { @type = "password", @class = "form-control" })
                @Html.ValidationMessageFor(model => model.Account.NewPasswordAgain, null, new { @class = "text-danger" })
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-6">
            <input type="submit" class="btn btn-block btn-primary" value="Bekräfta" />
        </div>
        <div class="col-md-6">
            @Html.ActionLink("Ta bort", "Delete", new
       {
           Type = "Borrower",
           Id = Model.PersonId
       }, Model.New ?
       new { @class = "form-control btn btn-block btn-danger disabled" } :
       new { @class = "form-control btn btn-block btn-danger" })
        </div>
    </div>

    if (!Model.New)
    {
        <h2>Lån</h2>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Streckkod</th>
                    <th>Låndatum</th>
                    <th>Returdatum</th>
                    <th>Återlämnad</th>
                    <th class="col-md-1"></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var borrow in Model.Borrows)
                {
                    <tr>
                        <td>@borrow.Barcode</td>
                        <td>@borrow.BorrowDate.ToShortDateString()</td>
                        <td>@borrow.ToBeReturnedDate.ToShortDateString()</td>
                        @if (borrow.ReturnDate.Year == 1)
                        {
                            <td>
                                @Html.ActionLink("Förnya", "Renew", new
                       {
                           Barcode = borrow.Barcode,
                           PersonId = borrow.PersonId,
                           BorrowDate = borrow.BorrowDate,
                           ToBeReturnedDate = borrow.ToBeReturnedDate,
                           ReturnDate = borrow.ReturnDate
                       }, new { @class = "form-control btn btn-block btn-primary" })
                        </td>
                        }
                        else
                        {
                            <td>@borrow.ReturnDate.ToShortDateString()</td>
                        }
                    </tr>
                }
            </tbody>
        </table>
    }
}

