@model Common.Models.AccountViewModel

@{
    ViewBag.Title = "Byt lösenord";
}

<h2>Byt lösenord</h2>

@using (Html.BeginForm())
{
    @Html.HiddenFor(m => m.Username)
    <div class="form-group">
        @Html.LabelFor(m => m.Password)
        @Html.TextBoxFor(m => m.Password, new { @type = "password", @class = "form-control" })
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.NewPassword)
        @Html.TextBoxFor(m => m.NewPassword, new { @type = "password", @class = "form-control" })
        @Html.ValidationMessageFor(m => m.NewPassword, null, new { @class = "text-danger" })
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.NewPasswordAgain)
        @Html.TextBoxFor(m => m.NewPasswordAgain, new { @type = "password", @class = "form-control" })
        @Html.ValidationMessageFor(m => m.NewPasswordAgain, null, new { @class = "text-danger" })
    </div>
    <div class="form-group">
        <div class="row">
            <div class="col-md-6">
                <input type="submit" class="btn btn-block btn-primary" value="Bekräfta" />
            </div>
        </div>
    </div>
}
