@model Common.Models.CopyViewModel

@{
    ViewBag.Title = "View";
}

<div class="page-header">
    <h1>Redigera Exemplar</h1>
    <h3>@Html.ActionLink(Model.Title, "Book", new { isbn = Model.ISBN })</h3>
</div>

@using (Html.BeginForm("Copy", "Edit"))
{
    <div class="row">
        <div class="col-md-6">
            <div class="form-group">
                @Html.LabelFor(model => model.BarCode)
                @if (Model.Update)
                {
                    @Html.TextBoxFor(model => model.BarCode , new { @class = "form-control", @readonly="readonly" })
                }
                else
                {
                    @Html.TextBoxFor(model => model.BarCode , new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.BarCode, null, new { @class = "text-danger" })
                }
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                @Html.LabelFor(model => model.Location)
                @Html.TextBoxFor(model => model.Location, new { @class = "form-control" })
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <div class="form-group">
                @Html.LabelFor(model => model.Library)
                @Html.TextBoxFor(model => model.Library, new { @class = "form-control" })
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                @Html.LabelFor(model => model.StatusId)
                @Html.DropDownListFor(model => model.StatusId, Model.Statuses, new { @class = "form-control" })
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            @Html.HiddenFor(model => model.ISBN)
            <div class="form-group">
                <input type="submit" class="btn btn-lg btn-block btn-primary" value="Spara" />
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
            @if (Model.Update)
            {
                @Html.ActionLink("Ta Bort", "Delete", new { Type = "Copy", Id = Model.BarCode }, new { @class = "btn btn-lg btn-block btn-danger" })
            }
            else
            {
                @Html.ActionLink("Ta Bort", "Delete", new { Type = "Copy", Id = Model.BarCode }, new { @class = "btn btn-lg btn-block btn-danger disabled" })
            }
            </div>
        </div>
    </div>
}