@model Common.Models.BookViewModel

@{
	ViewBag.Title = "Details";
}

<div class="row">
	<div class="col-xs-6">
		<h1>@Html.DisplayFor(model => model.Title)</h1>
	</div>
	<div class="col-xs-3 col-sm-offset-3 text-right">
		<button class="btn btn-default">Förnya</button>
	</div>
</div>
<div class="row">
	<div class="col-md-6">
		<dl class="dl-horizontal">
			<dt>Författare:</dt>
            @foreach (var item in Model.Authors)
            { 
			<dd>@Html.Display(item.Value)</dd>
            }
			<dt>ISBN:</dt>
			<dd>@Html.DisplayFor(model => model.ISBN)</dd>
			<dt>Klassifikation:</dt>
			<dd>@Html.DisplayFor(model => model.Classification)</dd>
			<dt>Publikationsår:</dt>
			<dd>@Html.DisplayFor(model => model.PublicationYear)</dd>
			<dt>Antal sidor:</dt> 
			<dd>@Html.DisplayFor(model => model.Pages)</dd>
		</dl>
	</div>
	<div class="col-md-6">
		<img src="https://s-media-cache-ak0.pinimg.com/564x/46/73/fd/4673fdf9d7821422efbec22771a25c68.jpg" alt="" class="img-rounded img-responsive" />
	</div>
</div>

