@model Common.Models.BorrowerViewModel
@{
   ViewBag.Title = @Model.FirstName;
}
<h1>@(Model.FirstName + " " + Model.LastName)</h1>
<h2>Mina lån</h2>

@if(Model.Borrows.Count > 0)
{ 
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Titel</th>
                <th>Låndatum</th>
                <th>Återlämnas senast</th>
                <th class="col-md-1"></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var borrow in Model.Borrows)
            {
                <tr>
                    <td>@borrow.Title</td>
                    <td>@borrow.BorrowDate.ToShortDateString()</td>
                    <td>@borrow.ToBeReturnedDate.ToShortDateString()</td>
                    <td>@Html.ActionLink("Förnya", "Renew", (object)borrow, new { @class = "form-control btn btn-block btn-primary" })
    @*
         @Html.ActionLink("Förnya", "Renew", new
        {
            Barcode = borrow.Barcode,
            PersonId = borrow.PersonId,
            BorrowDate = borrow.BorrowDate,
            ToBeReturnedDate = borrow.ToBeReturnedDate,
            ReturnDate = borrow.ReturnDate
        }, new { @class = "form-control btn btn-block btn-primary" })
    *@
                    </td>
                </tr>
            }
        </tbody>
    </table>
}
else
{
    <p>Du har inga aktiva lån.</p>
}