<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bibblan - @ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>
    <div class="navbar navbar-inverse">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Bibblan", "Index", "Home", null, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Sök bok", "Book", "Search")</li>
                    <li>@Html.ActionLink("Lista böcker", "Title", "Browse")</li>
                    <li>@Html.ActionLink("Lista författare", "Author", "Browse")</li>
                </ul>
                
                <ul class="nav navbar-nav navbar-right">
                    @* If a user is logged in this changes*@
                    @if (!Bibblan.Helpers.AccountHelper.IsLoggedIn(Session))
                    {
                        <li>@Html.ActionLink("Logga in", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })</li>
                    }
                    else
                    {
                        if(Bibblan.Helpers.AccountHelper.HasAccess(Session, Bibblan.Helpers.AccountHelper.Role.Admin))
                        {
                            <li>@Html.ActionLink("Administrera", "AdminPage", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })</li>
                        }
                        else if (Bibblan.Helpers.AccountHelper.HasAccess(Session, Bibblan.Helpers.AccountHelper.Role.User))
                        {
                            <li>@Html.ActionLink("Mina lån", "UserPage", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })</li>
                        }
                        /*
                        int role = Convert.ToInt32(Session["roleId"]);
                        switch(role)
                        {
                            case 0:
                                <li>@Html.ActionLink("Administrera", "AdminPage", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })</li>
                                break;
                                case 1:
                                <li>@Html.ActionLink("Mina lån", "UserPage", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })</li>
                                break;
                        }
                        */
                        <li>@Html.ActionLink("Logga ut", "Logout", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })</li>
                    }
                </ul>
            </div>
        </div>
    </div>
    <div class="container">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - HEA</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)

    @if (ViewBag.error != null)
    {
        <div id="errorModal" class="modal fade modal-open" role="alertdialog">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title">Fel uppstod</h4>
                    </div>
                    <div class="modal-body">
                        @if (ViewBag.error is string)
                        {
                            <p>@ViewBag.error</p>
                        }
                        else
                        {
                            if (ViewBag.error.Count > 1)
                            {
                                for (int i = 1; i <= ViewBag.error.Count; i++)
                                {
                                    <p>[@i] @ViewBag.error[i - 1]</p>
                                }
                            }
                            else
                            {
                                <p>@ViewBag.error[0]</p>
                            }
                        }
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Stäng</button>
                    </div>
                </div>
            </div>
        </div>

        <script type="text/javascript">
        window.onload = function () { $('#errorModal').modal('show'); }
        </script>
    }
</body>
</html>
