@model Bibblan.Models.SearchAuthorViewModel
@{
    ViewBag.Title = "Author";
}

<h1>Sök efter författare</h1>

@using (Html.BeginForm("Author", "Search"))
{

    <div class="row">
        <div class="col-sm-4">
            <div class="form-group">
                @Html.TextBoxFor(model => model.FirstName, new { @class = "form-control", @style = "margin: 0px", @placeholder = "Förnamn" })
            </div>
        </div>
        <div class="col-sm-4">
            <div class="form-group">
                @Html.TextBoxFor(model => model.LastName, new { @class = "form-control", @style = "margin: 0px", @placeholder = "Efternamn" })
            </div>
        </div>
        <div class="col-sm-4">
            <input type="submit" class="btn btn-primary" value="Sök" />
        </div>
    </div>
}
@if(IsPost)
{
    @Html.Partial("PartialResult", ViewBag.result as Bibblan.Models.ResultViewModel);
/*
<table class="table table-striped">
    <thead>
        <tr>
            <th>Titel</th>
            <th>Författare</th>
        </tr>
    </thead>
    <tbody>
        @if(@ViewBag.books != null)
        {
            foreach (var item in @ViewBag.books)
            {
                <tr>
                    <td>@item.Book.Title @Html.ActionLink("Redigera", "EDIT")</td>
                    <td>@item.Author.LastName, @item.Author.FirstName @Html.ActionLink("Redigera", "EDIT")</td>
                </tr>
            }
        }
    </tbody>
</table>
*/
}