@model Bibblan.Models.SearchBookViewModel
@{
    ViewBag.Title = "Book";
}

<h1>Sök efter bok</h1>


@using (Html.BeginForm("Book", "Search", FormMethod.Get))
{
    <div class="row">
        <div class="col-sm-4">
            <div class="form-group">
                @Html.TextBoxFor(model => model.ISBN, 
                new { 
                    @class = "form-control", 
                    @id = "search-ISBN", @style = "margin: 0px", 
                    @placeholder = "ISBN" 
                })
            </div>
        </div>
        <div class="col-sm-4">
            <div class="form-group">
                @Html.TextBoxFor(model => model.Title, 
                new { 
                    @class = "form-control", 
                    @id = "search-title", @style = "margin: 0px", 
                    @placeholder = "Titel" 
                })
            </div>
        </div>
        <div class="col-sm-4">
            <div class="form-group">
                @Html.TextBoxFor(model => model.PublicationYear,
                new
                {
                    @class = "form-control",
                    @id = "search-year",
                    @style = "margin: 0px",
                    @placeholder = "Publikationsår"
                })
            </div>
        </div>
        <div class="col-sm-4">
            <div class="form-group">
                @Html.DropDownListFor(model => model.ChosenClassification, Model.Classification, "Alla" ,new { @class = "form-control" })
            </div>
        </div>
        <div class="col-sm-4">
            <input type="submit" class="btn btn-primary" value="Sök" />
        </div>
    </div>
}
@if (ViewBag.result != null)
{
    @Html.Partial("PartialResult", ViewBag.result as Bibblan.Models.ResultViewModel);
}