@model Common.Models.Book
@{
    ViewBag.Title = "Book";
}

@using (Html.BeginForm("Book", "Search"))
{
    <div class="row">
        <div class="col-sm-4">
            <div class="form-group">
                @Html.TextBoxFor(model => model.ISBN, 
                new { 
                    @class = "form-control", 
                    @id = "search-ISBN", @style = "margin: 0px", 
                    @placeholder = "ISBN" 
                })
            </div>
        </div>
        <div class="col-sm-4">
            <div class="form-group">
                @Html.TextBoxFor(model => model.Title, 
                new { 
                    @class = "form-control", 
                    @id = "search-title", @style = "margin: 0px", 
                    @placeholder = "Titel" 
                })
            </div>
        </div>
        <div class="col-sm-4">
            <div class="form-group">
                @Html.TextBoxFor(model => model.PublicationYear,
                new
                {
                    @class = "form-control",
                    @id = "search-year",
                    @style = "margin: 0px",
                    @placeholder = "Publikationsår"
                })
            </div>
        </div>
        <div class="col-sm-4">
            <div class="form-group">
                @Html.DropDownListFor(model => model.Classification.Id, ViewData["classifications-list"] as IEnumerable<SelectListItem>)
            </div>
        </div>
        <div class="col-sm-4">
            <input type="submit" class="btn btn-primary" value="Sök" />
        </div>
    </div>
}
@if (IsPost)
{
    @Html.Partial("PartialResult", ViewBag.books as List<Common.Models.BookAuthor>);
}