@model Common.Models.BorrowerViewModel

@{
    ViewBag.Title = "Sök lånetagare";
    ViewBag.Controller = "Search";
}

<div class="page-header">
    <h1>Sök efter Låntagare</h1>
</div>

@Html.Partial("../Shared/PartialBorrowerForm")
@if (ViewBag.Results != null)
{
<h2>Resultat</h2>
<table class="table table-striped">
    <thead>
        <tr>
            <th>Förnamn</th>
            <th>Efternamn</th>
            <th>Personnummer</th>
            <th>Adress</th>
            <th>Telefonnummer</th>
            <th>Kategori</th>
            <th class="col-md-1"></th>
        </tr>
    </thead>
    <tbody>
         
        @foreach (var item in ViewBag.Results)
        { 
           <tr>
               <td>@item.FirstName</td>
               <td>@item.LastName</td>
               <td>@item.PersonId</td>
               <td>@item.Adress</td>
               <td>@item.TelephoneNumber</td>
               <td>@item.CategoryName</td>
               <td><a href="../Edit/Borrower/@(item.PersonId)" class="btn btn-xs btn-warning">Redigera</a></td>
           </tr>
        }
        
    </tbody>
</table>
}
