@model Common.Models.BorrowerViewModel

@{
    ViewBag.Title = "Sök lånetagare";
}

<div class="page-header">
    <h1>Sök efter Låntagare</h1>
</div>

@using (Html.BeginForm("Borrower", "Search"))
{
    <div class="row">
        <div class="form-group">
            <div class="col-md-6">
                @Html.TextBox("search", "", new
       {
           @class = "form-control",
           @id = "input-search",
           @placeholder = "Lånetagare"
       })
            </div>
            <div class="col-md-6">
                <input type="submit" class="btn btn-block btn-primary" value="Sök" />
            </div>
        </div>
    </div>
}
@if (ViewBag.result != null)
{
    if (ViewBag.listCount > 0)
    {
<h2>Resultat</h2>
<table class="table table-striped">
    <thead>
        <tr>
            <th>Förnamn</th>
            <th>Efternamn</th>
            <th>Personnummer</th>
            <th>Adress</th>
            <th>Telefonnummer</th>
            <th class="col-md-1"></th>
        </tr>
    </thead>
    <tbody>
         
        @foreach (var item in ViewBag.result)
        {
           <tr>
               <td>@item.FirstName</td>
               <td>@item.LastName</td>
               <td>@item.PersonId</td>
               <td>@item.Adress</td>
               <td>@item.TelNo</td>
               <td><a href="../Edit/Borrower/@(item.PersonId)" class="btn btn-xs btn-warning">Redigera</a></td>
           </tr>
        }
        
    </tbody>
</table>
    }
    else
    {
    < p > Kunde inte hitta några låntagare.</ p >
}
}
