@model Common.Models.ResultViewModel
<table class="table table-striped">
    <thead>
        <tr>
            <th>ISBN</th>
            <th>Titel</th>
            <th>Klassifikation</th>
            <th>Utgivningsår</th>
            <th class="col-md-1"></th>
            <th>Författare</th>
            <th class="col-md-1"></th>
        </tr>
    </thead>
    <tbody>
        @if(Model != null)
        {
            foreach (var item in Model.Books)
            {
            <tr>
                <td>@item.ISBN</td>
                <td><a href=@("../Book/Details/" + item.ISBN)>@item.Title</a></td>
                <td>@item.Classification.Signum</td>
                <td>@item.PublicationYear</td>
                <!--TODO: ADMIN KONTROLL -->
                <td><a href=@("../edit/book/" + item.ISBN) class="btn btn-xs btn-warning">Redigera bok</a></td>
                <td>
                    @foreach(var author in item.Authors)
                    {
                        <a href=@("../edit/author/" + author.Id)>
                        @(author.FirstName + " , " + author.LastName)
                        </a>
                        <br/>
                    }
                </td>
                @*
                <td>@item.Author.LastName, @item.Author.FirstName</td>
                <!--TODO: ADMIN KONTROLL -->
                <td><a href=@("../edit/author/" + item.Author.Id) class="btn btn-xs btn-warning">Redigera Författare</a></td>
                *@
            </tr>
        }
        }
    </tbody>
</table>