@model List<Common.Models.BookAuthor>
<table class="table table-striped">
    <thead>
        <tr>
            <th>ISBN</th>
            <th>Titel</th>
            <th>Klassifikation</th>
            <th>Utgivningsår</th>
            <th class="col-md-1"></th>
            <th>Författare</th>
            <th class="col-md-1"></th>
        </tr>
    </thead>
    <tbody>
        @if(Model != null)
        {
            foreach (var item in Model)
            {
            <tr>
                <td>@item.Book.ISBN</td>
                <td><a href=@("../Book/Details/" + item.Book.ISBN)>@item.Book.Title</a></td>
                <td>@item.Book.Classification.Signum</td>
                <td>@item.Book.PublicationYear</td>
                <!--TODO: ADMIN KONTROLL -->
                <td><a href=@("../edit/book/" + item.Book.ISBN) class="btn btn-xs btn-warning">Redigera bok</a></td>
                <td>@item.Author.LastName, @item.Author.FirstName</td>
                <!--TODO: ADMIN KONTROLL -->
                <td><a href=@("../edit/author/" + item.Author.Id) class="btn btn-xs btn-warning">Redigera Författare</a></td>
            </tr>
        }
        }
    </tbody>
</table>